:root {
  scroll-behavior: smooth;
}

:root {
  --dark-color: #21212d;
  --dark-color-l: #292938;
  --dark-color-ll: #4c4c68;
  --light-color: #eef2f3;
  --light-color-l: #fafafa;
  --light-color-ll: #fff;
}

:root,
.light-theme {
  --text-color: var(--dark-color);
  --text-color-lighter: var(--dark-color-l);
  --text-color-lightest: var(--dark-color-ll);
  --bg-color: var(--light-color);
  --bg-color-lighter: var(--light-color-l);
  --bg-color-lightest: var(--light-color-ll);
  --accent-color: #d5c1f1;
  --hljs-bg-color: #fafafa;
}

.dark-theme {
  --text-color: var(--light-color);
  --text-color-lighter: var(--light-color-l);
  --bg-color: var(--dark-color);
  --bg-color-lighter: var(--dark-color-l);
  --bg-color-lightest: var(--dark-color-ll);
  --accent-color: #614487;
  --hljs-bg-color: #282c34;
}

.light-theme .hide-on-light {
  display: none;
}

.dark-theme .hide-on-dark {
  display: none;
}

:root {
  --lisn-color-dark: var(--dark-color) !important;
  --lisn-color-dark-t: color-mix(
    in hsl,
    var(--dark-color),
    transparent 5%
  ) !important;
  --lisn-color-light: var(--light-color) !important;
  --lisn-color-light-t: color-mix(
    in hsl,
    var(--light-color),
    transparent 5%
  ) !important;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--text-color) transparent;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 10px;
  border: 3px solid transparent;
}

body {
  margin: 0;
  padding: 0;
  font-size: clamp(16px, calc(10px + 2vw), 20px);
  background: var(--bg-color);
  color: var(--text-color);
  font-weight: 300;
}

a,
a:visited {
  color: currentColor;
  text-decoration-color: rgba(100, 100, 100, 0.4);
  text-underline-position: under;
}

pre,
code {
  width: 100%;
  margin: 0;
  padding: 0;
}

code {
  max-height: 100%;
  overflow: auto !important;
}

ul {
  padding: 0;
  list-style-type: none;
}

ul li {
  margin: 8px 0;
}

ul li::before {
  content: "\2726";
  display: inline-block;
  font-size: 0.4em;
  transform: translateY(-0.4em);
  margin: 0 0.6em 0 0;
  opacity: 0.8;
}

ul.plain li::before {
  content: "";
  margin: 0;
}

ul.checked li::before {
  content: "\2713";
  font-size: 0.6em;
}

button.plain {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-style: inherit;
  font-family: inherit;
  font-weight: inherit;
  cursor: default;
  outline: none;
  border: none;
  color: inherit;
  background: none;
}

/* Utility */

.center {
  margin-left: auto !important;
  margin-right: auto !important;
}

.fit {
  width: fit-content;
}

.text-center {
  text-align: center;
}

.bold {
  font-size: 1.1em;
  font-weight: 600;
}

.small {
  font-size: 0.8em;
}

.tiny {
  font-size: 0.6em;
}

.hrule {
  height: 1px;
  width: 50%;
  margin: 10px auto;
  background: var(--bg-color-lightest);
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.wrap-rev {
  flex-wrap: wrap-reverse;
}

.i-center {
  align-items: center;
}

.j-around {
  justify-content: space-around;
}

.j-center {
  justify-content: center;
}

.j-end {
  justify-content: flex-end;
}

.gap-3 {
  gap: 3vw;
}

.gap-s {
  gap: 1em;
}

.gap-xs {
  gap: 0.5em;
}
