@use "./_variables.scss" as *;
@use "./_mixins.scss" as *;

@use "./base.scss";

[data-lisn-pager-style="slider"] {
  &.lisn-pager__page-container,
  & .lisn-pager__page-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    /* height must be set explicitly by user unless it's fullscreen */
  }

  &[data-lisn-is-fullscreen="true"] {
    &.lisn-pager__page-container,
    & .lisn-pager__page-container {
      height: var(--lisn-window--height);
    }
  }

  & .lisn-pager__page {
    @include abs-full-size;
    transition-duration: var(--animate-duration, #{$pager-animate-duration});
    transition-property: transform;
  }

  /* Upcoming or disabled pages */
  & .lisn-pager__page[data-lisn-page-state="disabled"],
  & .lisn-pager__page[data-lisn-page-state="next"] {
    transform: translate3d(0px, calc(100% + 10px), 0px);
  }

  &[data-lisn-orientation="horizontal"]
    .lisn-pager__page[data-lisn-page-state="next"] {
    transform: translate3d(calc(100% + 10px), 0px, 0px);
  }

  /* Active page */
  & .lisn-pager__page[data-lisn-page-state="current"] {
    transform: translate3d(0px, 0px, 0px);
  }

  /* Parallax */
  &[data-lisn-use-parallax="true"] .lisn-pager__page {
    --lisn_prx_factor: calc(
      (1 + var(--lisn-js--current-page, 1) - var(--lisn-js--page-number, 1)) /
        var(--lisn-js--total-pages, 1)
    );
    --lisn_prx_shift: calc(
      -1 * var(--lisn_prx_factor) *
        var(--lisn-pager--max-parallax-shift, #{$pager-max-parallax-shift})
    );
    --lisn_prx_scale: calc(
      1 - var(--lisn_prx_factor) *
        var(
          --lisn-pager--max-parallax-scale-down,
          #{$pager-max-parallax-scale-down}
        )
    );
  }

  /* Previous active pages (covered now) when using parallax effect */
  &[data-lisn-use-parallax="true"]
    .lisn-pager__page[data-lisn-page-state="covered"] {
    transform: scale(var(--lisn_prx_scale))
      translate3d(0px, var(--lisn_prx_shift), 0px);
  }

  &[data-lisn-orientation="horizontal"][data-lisn-use-parallax="true"]
    .lisn-pager__page[data-lisn-page-state="covered"] {
    transform: scale(var(--lisn_prx_scale))
      translate3d(var(--lisn_prx_shift), 0px, 0px);
  }
}
