@use "./_variables.scss" as *;
@use "./_mixins.scss" as *;

@use "./base.scss";

.lisn-smooth-scroll__root {
  & .lisn-smooth-scroll__content {
    position: fixed;
    overflow: visible;
    top: 0;
    left: 0;
    max-height: 100%;
    max-width: 100%;
  }

  & .lisn-smooth-scroll__inner {
    /* force GPU acceleration */
    transform: translate3d(
      calc(-1px * var(--lisn-js--offset-x, 0)),
      calc(-1px * var(--lisn-js--offset-y, 0)),
      0.1px
    ) !important;
    transition: transform 0.05s linear; /* smooth it out */
    will-change: transform;
  }

  &:is(body) {
    width: var(--lisn-js--width); /* content (scroll) width */
    height: var(--lisn-js--height); /* content (scroll) height */
  }

  &[data-lisn-uses-sticky="true"] {
    position: relative;

    & .lisn-smooth-scroll__content {
      position: sticky;
    }
  }
}
