@use "./_variables.scss" as *;
@use "./_mixins.scss" as *;

@use "./base.scss";

.lisn-smooth-scroll__root {
  & .lisn-smooth-scroll__content {
    position: fixed;
    overflow: visible;
    top: var(--lisn-js--top, 0);
    left: var(--lisn-js--left, 0);
    padding-right: var(--lisn-js--right, 0);
    padding-bottom: var(--lisn-js--bottom, 0);
  }

  &:is(body),
  & .lisn-smooth-scroll__overflow {
    width: var(--lisn-js--width); /* content (scroll) width */
    height: var(--lisn-js--height); /* content (scroll) height */
  }

  &[data-lisn-uses-sticky="true"] {
    position: relative;

    & .lisn-smooth-scroll__pin {
      position: sticky;
      overflow: visible;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
    }

    & .lisn-smooth-scroll__content {
      position: absolute;
    }

    & .lisn-smooth-scroll__overflow {
      z-index: -1;
    }
  }
}
